{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% block title %}
Post
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
    <p class="text-center"><a href="{% url 'subscribe' category.id %}"class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}

<h1>Все новости</h1>
    <form action="" method="get">

       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   <label for="start">Start date:</label>


    </form>




<hr>
   {% if category_news_list %}
       <table>
           <tr>
               <td>Название</td>
               <td>Тип</td>
               <td>Дата публикации</td>
               <td>Описание</td>
               <td>Категории</td>
           </tr>


           {% for new in category_news_list %}
           <tr>

               <td>{{ new.header|censor}}</td>
                <td>{{ new.position }}</td>
               <td>{{new.time }}</td>
               <td>{{new.preview }}</td>
               <td>
                   {% for category in new.post_category.all %}
                        <a href="{% url "category_list" category.id %}">{{category}}</a>
                   {% endfor %}
               </td>


           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% endblock content %}




